<section class="section-works">
    <h2 class="visually-hidden" id="how it works">how it works</h2>
    <div class="container section-picture">
        <picture class="picture-women">
            <source media="(min-width: 1280px)" srcset="
                /img/how_it_works/girl-desk-min.jpg 1x,
                /img/how_it_works/girl-desk@2x-min.jpg 2x
                " />
            <source media="(min-width: 768px)" srcset="
                /img/how_it_works/girl-tab-min.jpg 1x,
                /img/how_it_works/girl-tab@2x-min.jpg 2x
                " />
            <source media="(max-width: 768px)" srcset="
                /img/how_it_works/girl-mob-min.jpg 1x,
                /img/how_it_works/girl-mob@2x-min.jpg 2x
                " />

            <img src="/img/how_it_works/girl-desk-min.jpg" alt="woman cutting vegetables in the kitchen"  />
        </picture>
    </div>

    <div class="container instruction">
        <div class="cotainer-instruction">
            <h2 class="title-instruction">To order your <span class="marker">vegetable</span> basket, simply follow
                these <span class="marker">easy steps</span></h2>
            <p class="details-instruction">Our baskets are assembled with care and delivered straight to your doorstep,
                so you can enjoy the taste of fresh fruit without ever leaving your home.</p>
            <ol class="nomer-list">
                <li class="list-instruction"><span>Just choose <span class="marker-black">the vegetable</span> you want
                        to order by clicking on the checkboxes <span class="marker-black">next to it</span>.</span></li>
                <li class="list-instruction"><span class="span-list">Click on <span class="marker-black">the basket</span> and fill out
                        the form.</span></li>
                <li class="list-instruction"><span>Sit back and relax! Your <span class="marker-black">fresh
                            vegetables</span> basket will be delivered.</span></li>
            </ol>
        </div>
    </div>
</section>