.section-works {
    /* letter-spacing: 0.02em; */
}

.section-picture {
    background-color: #7a3145;
    max-height: 532px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-women {
    border-radius: 30px;
    background-color: rgba(20, 20, 20, 0.2);
    overflow: hidden;
}

.instruction {
    background-color: #576f35;
    padding: 80px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .instruction {
        margin: 0 auto;
    }
}

.cotainer-instruction {
    width: 300px;
}

@media screen and (min-width: 375px) {
    .cotainer-instruction {
        width: 335px;
    }
}

.title-instruction {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;

    margin-bottom: 20px;
}

.details-instruction {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fbfbfb;

    margin-bottom: 40px;
}

.marker {
    color: #d4bfc4;
}

.marker-black {
    font-weight: 700;
    color: #141414;
}


ol {
    margin-top: auto;
    counter-reset: section;
}

li::before {
    counter-increment: section;
    content: counter(section);
    flex-shrink: 0;


    display: inline-block;
    border-radius: 50%;
    background-color: #7a3145;

    width: 52px;
    height: 52px;
    text-align: center;
    align-content: center;

    border: 5px solid #d4bfc4;

    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    margin-right: 24px;

}

.list-instruction {
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    background-color: #fbfbfb;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.08px;
    color: #858585;

    display: flex;
    align-items: center;
}

.list-instruction:not(:last-child) {
    margin-bottom: 20px;
}

/* table */
@media screen and (min-width: 768px) {
    .section-picture {
        min-height: 840px;
        padding: 100px 64px;
    }

    .instruction {
        padding: 100px 0px;
    }

    .cotainer-instruction {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 440px;
    }

    .title-instruction {
        font-size: 32px;
        margin-bottom: 24xp;
    }

    .details-instruction {
        flex-grow: 1;
        font-size: 16px;
        line-height: 1.25;

        margin-bottom: 52px;
    }

    .list-instruction {
        border-radius: 15px;
        padding: 12px 15px 12px 24px;
        background-color: #fbfbfb;
    }

    .list-instruction {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
    }

}

/* dectop */
@media screen and (min-width: 1280px) {
    .section-picture {
        padding: 100px;
        min-height: 760px;
    }

    .section-works {
        background: linear-gradient(to right, #7a3145 49%, #576f35 49%);
        display: flex;
        justify-content: center;
    }

    .instruction {
        padding: 100px;
    }

    .details-instruction {
        margin-bottom: 104px;
    }
}